@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --maincolor: #FFFFFF;
    --accentColor: #F1F1F1;
    --btnColor : #FFA16C;
    --btnColor2 : #3C3C3C;
    --Title-font : 25px;
    --linear-font: 18px;
    --font-style:'Poppins', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    font-family: var(--font-style);
}

.container{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.bubbles{
    position: relative;
    display: flex;
    z-index: -1;
}

.bubbles span{
    position: relative;
    height: 50px;
    aspect-ratio: 1/1;
    background-color: var(--btnColor);
    border-radius: 50%;
    filter: blur(10px);
    animation: animate 15s linear infinite;
    animation-duration: calc(100s / var(--i));
}

.bubbles span:nth-child(even){
    background-color: #21cce1;
}
 
@keyframes animate{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}

.nav-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(241, 241, 241, 0.8);
    height: 50px;
}

.nav-top p{
    margin: auto;
    letter-spacing: 2px;
    font-size: 18px;
}

.nav-top p a{
    text-decoration: underline;
    color: rgb(12, 0, 176);
    background-color: transparent;
    padding: 0 0 0 0;
    border-radius: 10px;
    letter-spacing: 0;
    font-size: 12px;
}

.account{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    width: 180px;
    padding: 0;
}

.account i{
    font-size: 45px;
}

.account div{
    display: flex;
    flex-direction: column;
}

.profile{
    font-size: 18px;
}

.gmail{
    font-size: 10px;
}

.content{
    transform: translate(1.5%, 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 1200px;
    z-index: 1;
}

.btn{
    display: flex;
    justify-content: space-between;
    width: 600px;
}

a{
    text-decoration: none;
    color: var(--accentColor);
    background-color: var(--btnColor);
    /* padding: 20px 50px 20px 50px; */
    /* padding: 10px 100px 10px 100px; */
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}