@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --maincolor: #FFFFFF;
    --accentColor: #F1F1F1;
    --btnColor : #FFA16C;
    --btnColor2 : #3C3C3C;
    --Title-font : 25px;
    --linear-font: 18px;
    --font-style:'Poppins', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box;  */
    font-family: var(--font-style);
}

.app{

}

.container{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.bubbles{
    position: relative;
    display: flex;
}

.bubbles span{
    position: relative;
    height: 50px;
    aspect-ratio: 1/1;
    background-color: var(--btnColor);
    border-radius: 50%;
    filter: blur(10px);
    animation: animate 15s linear infinite;
    animation-duration: calc(100s / var(--i));
}

.bubbles span:nth-child(even){
    background-color: #21cce1;
}
 
@keyframes animate{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}






/* @keyframes rotate{
    0%{
        transform: rotate(0deg);
        width: 700px;
        top: -20%;
        left: -20%;
    }
    25%{
        width: 70vw;
    }
    50%{
        width: 50vw;
        top: 80%;
        left: 95%;
    }
    75%{
        width: 700px;
    }
    100%{
        transform: rotate(360deg);
        width: 700px;
        left: -20%;
        top: -20%;
    }
}

@keyframes rotate1{
    0%{
        transform: rotate(0deg);
        width: 300px;
        bottom: 30%;
        right: -3%;
    }
    50%{
        bottom: 30%;
        right: 90%;
    }
    100%{
        transform: rotate(360deg);
        width: 300px;
        bottom: 30%;
        right: -3%;
    }
}

@keyframes move{
    0%{
        width: 300px;
        bottom: 70%;
        right: 20%;
    }
    15%{
        width: 300px;
        bottom: 20%;
        right: 82%;
    }
    18.5%{
        bottom: 0;
        right: 75%;
    }
    35%{
        bottom: 40%;
        right: 0;
    }
    55%{
        bottom: 70%;
        right: 70%;
    }
    60%{
        bottom: 58%;
        right: 83%;
    }
    78%{
        bottom: 0;
        right: 20%;
    }
    90%{
        bottom: 50%;
        right: 0;
    }
    100%{
        width: 300px;
        bottom: 70%;
        right: 20%;
    }
}

@keyframes move2{
    0%{
        width: 300px;
        top: 70%;
        left: 20%;
    }
    15%{
        width: 300px;
        top: 20%;
        left: 82%;
    }
    18.5%{
        top: 0;
        left: 75%;
    }
    35%{
        top: 40%;
        left: 0;
    }
    55%{
        top: 70%;
        left: 70%;
    }
    60%{
        top: 58%;
        left: 83%;
    }
    78%{
        top: 0;
        left: 20%;
    }
    90%{
        top: 50%;
        left: 0;
    }
    100%{
        width: 300px;
        top: 70%;
        left: 20%;
    }
}

@keyframes timeToShine{
    0%{
        padding: 10px;
    }
      100%{
        padding: 25rem;
    }
}

.shape{
    background-color: #0099ff;
    aspect-ratio: 1/1;
    border-radius: 100%;
    opacity: 0.7;
    position: absolute;
    z-index: -1;
    filter: blur(5px);
    animation: move 10s linear infinite;
}

.shape1{
    background-color: var(--btnColor);
    width: 10px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    opacity: 1;
    position: absolute;
    animation: timeToShine 10s linear infinite;
    top: 50%;
    left: 50%;
    z-index: -3;
    filter: blur(5px);
}

.shape2{
    background-color: #ff00d0;
    aspect-ratio: 1/1;
    border-radius: 100%;
    opacity: 0.5;
    position: absolute;
    z-index: -4;
    filter: blur(5px);
    animation: move2 10s linear infinite;
}
 */
