@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --maincolor: #FFFFFF;
    --accentColor: #F1F1F1;
    --btnColor : #FFA16C;
    --btnColor2 : #3C3C3C;
    --Title-font : 25px;
    --normal-font: 18px;
    --font-style:'Poppins',
        sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    flex-direction: row;
}
.main-sideNav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    height: 100vh;
    background-color: var(--maincolor);
}
.main-central{
    width: 100%;
    height: 100vh;
    background-color: var(--accentColor);
}
.main-central-nav{
    display: flex;
    flex-direction: row;
    height: 150px;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 3rem 0rem 3rem;
    background-color: var(--maincolor);
}
.main-central-nav-input{
    display: flex;
    flex-direction: row;

    
}
.main-central-nav-input input {
    font-family: var(--font-style);
    color: #818181;
    width: 250px;
    padding: 0.75rem;
    outline: none;
    border: none;
    background-color: #EBEBEB;
    border-left: 0px solid var(--maincolor) ;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.main-central-nav-input input:focus {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.main-central-nav-input button {
    font-family: var(--font-style);
    background-color: var(--btnColor);
    border: none;
    width: 100px;
    border-right: 1pt solid var(--btnColor);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 16px ;
    color:var(--maincolor);
    cursor: pointer;
}
.main-central-nav-input button:hover {
    background-color: var(--btnColor2);
    border-right: 1pt solid var(--btnColor2);
    transition: 0.5s;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5);
}

.main-central-nav-btn{
    padding: 0.75rem;
    gap: 10px;
    display: flex;
    flex-direction: row;
    background: var(--btnColor2);
    color:var(--maincolor);
    border-radius: 10px;
    font-family: var(--font-style);
    cursor: pointer;
    
}
.main-central-nav-btn:hover{
    background-color: var(--btnColor);
    transition: 0.5s;
    
    /* box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5); */
}
.main-sideNav-logo-container{
    width: 100px;
    height: 100px;
}
.main-sideNav-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-sideNav-logo{
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-header{
    font-family: var(--font-style);
    font-size: var(--Title-font) ;
    color: var(--btnColor2);
}
.nav-links{
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-family: var(--font-style);
    text-decoration: none;
    font-size: var(--normal-font);
    color: var(--btnColor2);
    
}
.active-link{
    color: aqua !important; 
}

.nav-links:hover{
    color: var(--btnColor);
    transition: 0.5s;
    transform: translateX(-5px) translateY(-5px);
}
.nav-links.active {
    color: blueviolet;
}